<aside
  class="h-screen fixed top-0 left-0 pt-16 bg-aponia-white text-slate-700 flex flex-col transition-all duration-300 select-none shadow-right shadow-sm"
  [class.w-64]="sideBar.sidebarOpen()"
  [class.w-20]="!sideBar.sidebarOpen()"
>
  <!-- NAV LINKS -->
  <nav class="flex-1 flex flex-col gap-1 mt-4">
    <!-- INICIO -->
    <a
      routerLink="/dashboard-recepcionista"
      class="flex items-center gap-3 px-4 py-2 hover:bg-gray-200 transition-colors cursor-pointer"
      [class.justify-start]="sideBar.sidebarOpen()"
      [class.justify-center]="!sideBar.sidebarOpen()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 shrink-0"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l9-9 9 9M4 10v10h5v-6h6v6h5V10"
        />
      </svg>
      <span [class.hidden]="!sideBar.sidebarOpen()">Inicio</span>
    </a>

    <!-- CONTRATAR SERVICIO -->
    <a
      routerLink="/dashboard-recepcionista/contratar-servicio"
      routerLinkActive="bg-gray-100"
      class="flex items-center gap-3 px-4 py-2 hover:bg-gray-200 transition-colors cursor-pointer"
      [class.justify-start]="sideBar.sidebarOpen()"
      [class.justify-center]="!sideBar.sidebarOpen()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 shrink-0"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      <span [class.hidden]="!sideBar.sidebarOpen()">Contratar Servicio</span>
    </a>

    <!-- VER SERVICIOS CONTRATADOS (Opcional) -->
    <a
      routerLink="/dashboard-recepcionista/gestion-reservas"
      routerLinkActive="bg-gray-100"
      class="flex items-center gap-3 px-4 py-2 hover:bg-gray-200 transition-colors cursor-pointer"
      [class.justify-start]="sideBar.sidebarOpen()"
      [class.justify-center]="!sideBar.sidebarOpen()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 shrink-0"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"
        />
      </svg>
      <span [class.hidden]="!sideBar.sidebarOpen()">Gestión de reservas</span>
    </a>

    <!-- BUSCAR CLIENTE (Opcional) -->
    <a
      routerLink="/dashboard-recepcionista/buscar-cliente"
      routerLinkActive="bg-gray-100"
      class="flex items-center gap-3 px-4 py-2 hover:bg-gray-200 transition-colors cursor-pointer"
      [class.justify-start]="sideBar.sidebarOpen()"
      [class.justify-center]="!sideBar.sidebarOpen()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 shrink-0"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
      <span [class.hidden]="!sideBar.sidebarOpen()">Buscar Cliente</span>
    </a>
  </nav>
</aside>
